
name: MLOps Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  mlops:
    runs-on: ubuntu-latest

    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      REPO_ID: AkhilRaja/visitwithus-wellness-customer-dataset

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install huggingface_hub

      - name: Run data preprocessing
        run: |
          python scripts/preprocess_data.py
          
      - name: Train & evaluate model
        run: |
          python scripts/train_model.py

      - name: Push model artifacts to Hugging Face
        run: |
          python scripts/push_to_hf.py
